* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  
}


:root {
  --color-primary-yellow: #ffc400;
  --color-primary-blue: #2BC9EC;
  --color-primary-black: rgb(32, 32, 32);

}

body {
  font-family: 'Noto Serif', serif;
}

/* HEADER */
#header {
  
  background: rgb(222, 182, 50);
}


.navbar {
  width: 70rem;
  min-width: 90%;
  /* max-width: 70rem; */
  padding: 50px;
  /* width: 100%; */
  /* box-shadow: 0 0 3px #000; */
  text-align: center;
  margin: auto;
}

.navbar ul li {
  display: inline;
  padding-left: 40px;
  font-weight: 900;
  font-size: 25px;
  
}

.navbar ul li a {
  color: aliceblue;
  text-decoration: none;
}


#search_bar {
  float: right;
  position: relative;

  top: -10px;
}

#search_bar input[type=text] {
  padding: 10px;
  font-size: 20px;
  float: left;
  width: 80%;
  background: #fbc413;
  border: none;
  box-shadow: 0 0 3px #efcf66;
}

#search_bar input::placeholder {
  color: white;
}



#search_bar button {
  float: left;
  width: 20%;
  padding: 10px;
  background: #1accd9;
  color: white;
  font-size: 20px;
  border: 1px solid grey;
  border-left: none; 
  cursor: pointer;
  border: none;
}


#search_bar::after {
  content: "";
  clear: both;
  display: table;
}

#company-logo {
  float: left;
  margin-top: -20px;
  display: flex;
  align-items: center;
  color: white;

}





#vetcare {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* START OF VETCARE */

.row {
  display: flex;
}

.column {
  /* float: left;
  width: 25%; */
  /* display: flex; */
  margin-bottom: 5rem;
  padding: 0 10px;
}

.vetcare-text h1 {
  font-size: 4rem;
  margin-bottom: 1rem;
}

.vetcare-text p {
  font-size: 2rem;
}

.vetcare-text {
  text-align: center;
  margin: 2rem 2rem;
  padding: 5rem;
  max-width: 50rem;
}

@media screen and (max-width: 650px) {
  .column {
    width: 100%;
    display: block;
  }
}


.card {
  /* box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); */
  text-align: center;
}

.card img {
  width: 100%;
}

/* Some left and right padding inside the container */
.container {
  padding: 0 16px;
}



/* Clear floats */
.container::after, .row::after {
  content: "";
  clear: both;
  display: table;
}

.container h2 {
  margin: 0.5rem 0.5rem;
  font-size: 2rem;
} 

/* .container p {
  font-size: 2rem;
} */

.title {
  color: grey;
  margin-bottom: 1rem;
  font-size: 2rem;
}

.button {
  border: none;
  outline: 0;
  display: inline-block;
  padding: 1rem 4rem;
  color: white;
  background-color: var(--color-primary-yellow);
  text-align: center;
  cursor: pointer;
 
  }




/* END OF VERTCARE */

/* END OF HEADER */

/* Recent Posts */

.BodyP {
  display:flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  height:800px;
  margin: 5% 5%; 
  
  }
  
  
  .BodyP p {
  font-size: 1.5rem;
  color: red;
  }
  
  .Textposts {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  }
  
  .Textposts h3 {
  justify-self: center;
  align-self: center;
  margin: 0 0 5% 0 ;
  font-size: 3rem;
  
  }
  
  .cardposts {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  
  }
  
  
  .card {
    /* Add shadows to create the "card" effect */
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    margin: 3%;
    width:500px;
    height:700px;
  }
  
  /* On mouse-over, add a deeper shadow */
  .card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  }
  
  /* Add some padding inside the card container */
  .container {
    padding: 2px 16px;
    display:flex;
    flex-direction: column;
    justify-content:space-evenly;
    
  }
  
  .card img {
  height:300px;
  }
  
  .card p {
  margin: 20px 0 ;
  }
  
  .card h4 {
  color: #2BC9EC;
  margin: 30px 0 ;
  
  }

/*<-------FOOTER START------->*/

footer{
  width: auto;
  justify-content: space-evenly;
  padding: 100px 10px;
  background-color: var(--color-primary-black);
  color: white;
  display: flex;
  flex-wrap: wrap;
}

footer h3 {
  margin-bottom: 10px;
}

.linklist li{
  list-style-type: none;
  padding: 2px 0;
}

#footer-right{
 justify-content: flex-end;
}

#send-field{
  margin: 20px 0px;
  border: none; 
  display: flex; 
}

#send-input{
background-color: var(--color-primary-yellow);
border: none;
display: flex;
padding: 0px;
margin: 0px;
height: 40px;
}

#send-button{
background-color: var(--color-primary-blue);
padding: 10px 25px;
border: none;
}

#send-icon{
height: 15px;
width: 15px;
}

#social-media img{
  height: 25px;
  width: auto;
}
/*<-------FOOTER END------->*/